@model ZoomLa.Model.M_Product
@{

    string action = Request.QueryString["action"] ?? "";
    if ("addpro".Equals(action))
    {
        Layout = "~/Areas/User/Views/Shared/_empty.cshtml";
    }
    else
    {
        Layout = "~/Areas/User/Views/Shared/_layout.cshtml";
    }
}
@section head{
<title>我的店铺</title>
}
@section content{
<div id="pageflag" data-nav="shop" data-ban="store"></div>
@if (!"addpro".Equals(action))
{
    <div class="container margin_t5">
        <ol class="breadcrumb">
            <li><a title="会员中心" href="@Url.Action("Default","")">会员中心</a></li>
            <li><a href="ProductList">我的店铺</a></li>
            <li><a href="StockList">库存管理</a></li>
        </ol>
    </div>
}
<form method="post" action="@MVCHelper.GetAction("Stock_Add",Request)">
    <div class="container margin_t10 btn_green">
        @Html.Partial("UserShopTop")
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <td colspan="2">出入库管理</td>
            </tr>
            <tr>
                <td class="td_l"><strong>选择单据类型：</strong></td>
                <td>
                    <label><input type="radio" value="0" name="stocktype_rad" checked="checked" />入库</label>
                    <label><input type="radio" value="1" name="stocktype_rad" />出库</label>
                </td>
            </tr>
            <tr>
                <td><strong>单据编号：</strong></td>
                <td>
                    @DateTime.Now.ToString("yyyyMMddHHmmss")
                </td>
            </tr>
            <tr>
                <td><strong>商品：</strong></td>
                <td>
                    @Model.Proname
                </td>
            </tr>
            <tr>
                <td><strong>商品数量：</strong></td>
                <td>
                    <input type="text" id="Pronum" name="Pronum" class="form-control text_300 required" value="0" />
                    <span class="r_red">*</span>
                </td>
            </tr>
            <tr>
                <td><strong>备  注：</strong></td>
                <td>
                    <textarea id="stockcontent" name="stockcontent" class="form-control m715-50" style="height:120px;"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="添加" class="btn btn-primary" />
                </td>
            </tr>
        </table>
    </div>
</form>
}
@section script{
<script type="text/javascript" src="/JS/DatePicker/WdatePicker.js"></script>
<script>
    $(function () {
        $("form").validate();
    })
</script>
}