@using System.Data
@{
    Layout = "~/Areas/Mis/Views/Shared/_layout.cshtml";
    DataTable dt = (DataTable)ViewBag.dt;
}
@functions{
    public string getUserface(object o)
    {
        return "";
    }
}
@section head{
<title>备忘列表</title>
<link href="/App_Themes/User.css" type="text/css" rel="stylesheet" />
<script src="/JS/DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
function loadPage(id, url) {
    $("#" + id).addClass("loader");
    $("#" + id).append("Loading......");
    $.ajax({
                    type: "get",
	url: url,
	cache: false,
	error: function (){ alert('加载页面' + url + '时出错！'); },
	success: function (msg) {
	    $("#" + id).empty().append(msg);
	    $("#" + id).removeClass("loader");
                    }
                });
            }
$(function () {

            })
// window.onload = function () { PopupDiv('div_warn', 'txtWarn', 'warn');   }

//弹出div
function PopupDiv(div_id,txt_sorce, type) {
                SetOptions(txt_sorce, type);
                var div_obj = $("#" + div_id);
                div_obj.animate({opacity : "show", left :300, top: 200, width: div_obj.width, height: div_obj.height } , 300);
                div_obj.focus();
            }

            //弹出提示内容div
            function PopupDiv(div_id) {
                var div_obj = $("#" + div_id);
                div_obj.animate({ opacity: "show", left: 300, top: 200, width: div_obj.width, height: div_obj.height }, 300);
            }

            //隐藏div
            function HideDiv(div_id) {
    $("#" + div_id).animate({ opacity: "hide" }, 300);
                var init = self.setInterval("AlertForm()",31000);
                window.clearInterval(init);
            }

            // 填充选择项
            function SetOptions(txt_id, type) {
                if ($("#" + txt_id).val().length == 0)
	return;
                switch (type) {
                    case "warn":
                        SetWarn(txt_id);
                        break;
                    case "share":
                        SetShare(txt_id);
                        break;
                }
            }
            //显示选择项
            function GetOptions(div_id, txt_id, type) {
                var options = "";
                switch (type) {
                    case "warn":
                        options = GetWarn(div_id);
                        break;
                    case "share":
                        options = GetShare(div_id);
                        break;
                }
    $("#" + txt_id).val(options);
                HideDiv(div_id);
            }
            //获取 提醒消息：
            function GetWarn(div_id) {
                var warn = "";
                warn = warn + $("#w_fqRepeat").find("option:selected").text() + "|";
                warn += $("#w_date").val() + "|";
                warn += $("#w_time").val() + "|";
                warn += $("#w_method").val();
                warn += "|";
    $(":checkbox[name=chkpWarn]:checked").each(function () {
                    warn += $(this).val() + ",";
                });
                return warn;
            }

            //获取共享信息
            function GetShare(div_id) {
                var share = " ";
    $(":checkbox[name=chkUser]:checked").each(function () {
                    share += $(this).val() + ",";
                });
                share=share.trim(",");
                return share;
            }

            //设置 提醒消息
            function SetWarn(txt) {
                var arr = $("#" + txt).val().split("|");
    $("#w_fqRepeat").val(arr[0]);
    $("#w_date").val(arr[1]);
    $("#w_time").val(arr[2]);
    $(":checkbox[name=chkpWarn]").each(function () {
                    if (arr[3].indexOf($(this).val()) >= 0)
	    $(this).attr("checked", true);
	else
	    $(this).attr("checked", false);
                });
    $("w_method").val(arr[4]);
            }

            function AlertForm() {
                var DateTimes = new Date();
                var year = DateTimes.getFullYear();
                var Month = DateTimes.getMonth() + 1;
                if (Month < 10)
                {
                    Month = "0" + Month;
                }
                var Day = DateTimes.getDate();
                if (Day < 10)
                {
                    Day = "0" + Day;
                }
                var Hours = DateTimes.getHours();
                if (Hours < 10)
                {
                    Hours = "0" + Hours;
                }
                var Minutes = DateTimes.getMinutes();
                if (Minutes < 10)
                {
                    Minutes = "0" + Minutes;
                }
                var compair =year+"-"+Month+"-"+Day+"|"+Hours+":"+ Minutes;
                var TimeofWarn = document.getElementById("lblWarn").innerText;
                TimeofWarn = TimeofWarn.substring(TimeofWarn.indexOf("|")+1, TimeofWarn.indexOf("|") + 17);
                //alert(compair);
                //alert(TimeofWarn);
                if (TimeofWarn == compair){
                    PopupDiv("TimeDiv");
                }
                else
                {
                    HideDiv("TimeDiv");
                }
            }
            setInterval("AlertForm()",31000);
            //设置 共享信息
            function SetShare(txt) {

            }

            function LodePage(id,Cont) {
                document.getElementById("HidCommentInfo").value = id;
                document.getElementById("Txtco").innerText = Cont;
                var h = document.getElementById("Contents" + id).getBoundingClientRect().top;
                document.getElementById("hidenComment").style.display = "block";
                document.getElementById("hidenComment").style.top = (h - 104) + "px";
                document.getElementById("hidenComment").style.background = "#fdfce6";
            }

            //加载时间
            function show2() {
                var divs=document.getElementById("DateDiv");
                var Digital = new Date()
        
    var hours = Digital.getHours()
        
    var minutes = Digital.getMinutes()
        
    var seconds = Digital.getSeconds()
        
    var dn = "AM"
        
    if (hours > 12) {
                    dn = "PM";
                    hours = hours - 12;
                }
                if (hours == 0)
                    hours = 12;
                if (minutes <= 9)
                    minutes = "0" + minutes;
                if (seconds <= 9)
                    seconds = "0" + seconds;
                var ctime = hours + ":" + minutes + ":" + seconds + " " + dn;
                divs.innerHTML = ctime;
                setTimeout("show2()", 1000);
            }
            window.onload = show2;
</script>
<style type="text/css">
#CommentAdds{ height:44px; width:716px;}
.spanU{float:left; width:35px;padding-top:8px;}
.uface{width:35px;height:35px;}
.divuinfo{ margin-top:30px; padding-right:10px;}
.divuinfo p{float:left; padding:0; margin:0; padding-left:10px;  }
.divuinfo li{border-bottom:dotted 1px #ccc;}
.divuinfo .spedt{ display:block; text-align:right; float:right; margin-top:-24px;}
#Contents{background-color:#808080; width:680px; height:228px; padding-top:-100px;}
#Close { text-align:right;}
#head{ padding-top:-50px;}
.TextDiv{background-color:#fff; width:660px; margin-left:10px;}
#TxtComment{}
#BtnSubmit{ text-align:right; padding-right:10px;}
#hidenComment{display:none;}
</style>
}
                @section content{
<div id="Meno">
<div id="Meno_left">
<div class="Meno_li">
    <ul>
	<li class="Meno_new"><a href="AddMemo">新建备忘</a></li>

    <li class="Meno_all"><a href="Default">全部备忘</a></li>

    <li class="Meno_my"><a href="Default?UName=@ViewBag.uname">我的备忘  </a></li>

    <li class="Meno_share"><a href="Default?Sname=@ViewBag.uname">共享给我  </a></li>

    <li class="Meno_pin"><a href="Default?Mname=@ViewBag.uname">我的评论</a></li>
    </ul>
</div>
</div>
<div>
<div id="Meno_right">
<div id="Meno_Title">
<a href="Default">全部备忘</a> &gt; &gt; 备忘详情
</div>
<div>
  <div style="padding-left:5px;">
    <a href="javascript:;">编辑</a>
    <a href="javascript:;">删除</a>
    <a href="javascript:;">取消共享</a>
    <span id="lblShares"><a href="#" title="">设置共享</a></span>&nbsp;
    <span id="lblWarns"><a href="#" title="">提醒</a></span>&nbsp;
    <span id="labBack"><a href="Default" title="">返回</a></span>
    </div>
    <div class="ctop" style="padding: 5px;">
	<span class="author" style="color: #278139;">创建者：@ViewBag.lblInputer</span>&nbsp; &nbsp; 
	<span>创建于：@ViewBag.lblCreateTime</span></div>
    <div style="margin-left: 4px;">共享人： @ViewBag.lblIsShare   </div>
    <div style="margin-left: 4px;">备忘内容： @ViewBag.lblContent</div>
    <div style="margin-left: 4px;">提醒： @ViewBag.lblWarn</div>
</div>
<div id="CommentCount">评论<span>@ViewBag.lblCount</span></div>
<div id="CommentAdds">
    <div><input type="text" style="heigth:46px;width:708px;" id="TxtComment" name="TxtComment" /></div>
    <label><input type="checkbox" id="ChkAllUser" />提醒所有人共享</label><span style="float:right;"><input type="button" value="提交" id="SubBtn" Class="i_bottom" /></span>
</div>
    <div class="divuinfo">
	<ul>
    @foreach (DataRow dr in dt.Rows)
        {
        <li>
            <span class="spanU">@getUserface(dr["UserID"])</span><p><span>&nbsp;&nbsp;</span>@dr["CommentTime"]<br />@dr["Contents"]</p>
            <div class="clear"></div>
            <span class="spedt">
                <a href="javascript:;" onclick="confirm('确定要删除该记录么？')">删除</a>
                <a href="#" title="" onclick="LodePage('@dr["CommentID"]','@dr["Contents"]')">编辑</a>
                <div id='Contents@(dr["CommentID"])'></div>
            </span>
        </li>
    }
       </ul>
</div>
<div id="hidenComment">
<div id="Contents">
<div id="heads">
<div id="Close"><a href="#" title="" onclick="HideDiv('hidenComment')">关闭</a></div>
</div>
<div class="TextDiv">
<input type="text" style="height139px; width:658px;" id="Txtco" name="Txtco" />
<br />
<label><input type="checkbox" id="CbkEdit" />提醒所有人共享</label>
<input ID="HidCommentInfo" type="hidden" value="11"/>
<input id="HidContents" type="hidden"  />
</div>
<div id="BtnSubmit">
<input type="button" value="提交" />&nbsp;<input type="button" value="取消" onabort="HideDiv('Contents')" />
</div>
</div>
</div>
</div>
</div>


<div id="div_share" class="pop_box">
<div class="p_head">
    <div class="p_h_title">设置共享</div>
    <div class="p_h_close" onclick="HideDiv('div_share')">关闭</div>
</div>
<div class="p_body">
		<div>用户列表：</div> 
    <div id="Div1">

    <ul>
	    </ul>
	</div> 
    <div style="margin-left:270px; clear:both;">

    <input type="button" id="btnNext" value="换一组" />
    </div>
</div>
<div class="p_bottom">
    <div style="display:none;"><input type="text" ID="TxtUser"《Text=""/></div>
    <input type="button" id="BtnYess" value="确定" />
    &nbsp;
    <input type="button" id="Button1" value="取消" />
</div>
</div>

<div id="div_warn"  class="pop_box">
<div class="p_head">
    <div class="p_h_title">设置提醒</div>
    <div class="p_h_close" onclick="HideDiv('div_warn')">关闭</div>
</div>
<div class="p_body">
    <table style="width: 90%; margin: 0 auto;">

    <tr>

        <td>重复频率:</td>
	    <td>
		<select id="w_fqRepeat">

            <option value="不重复" selected>不重复</option>
		    <option value="每天">每天</option>

            <option value="每周">每周</option>
		    <option value="每月">每月</option>

            <option value="每年">每年</option>
		</select>
	    </td>
	</tr>
	<tr>
	    <td>提醒日期:</td>
	    <td>
		<input id="w_date" type="text" value='@DateTime.Now.ToString("yyyy-MM-dd")' onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'});" /></td>
	</tr>
	<tr>
	    <td>提醒时间:</td>
	    <td>
		<input id="w_time" type="text" value='@DateTime.Now.AddHours(1).ToString("HH:mm")' onfocus="WdatePicker({dateFmt:'HH:mm'});" /></td>
	</tr>
	<tr>
	    <td>提醒人员:</td>
	    <td>
		<input type="checkbox" name="chkpWarn" value="本人" checked />本人
        <input type="checkbox" name="chkpWarn" value="所有共享人" />所有共享人
        </td>
	</tr>
	<tr>
	    <td>提醒方式:</td>
	    <td>
		<select id="w_method">

            <option value="即时通讯" selected>即时通讯</option>
		    <option value="Email">Email</option>

            <option value="手机短信">手机短信</option>

        </select>

        </td>

    </tr>
    </table>
</div>
<div class="p_bottom">
    <div style="display:none"><input type="text" ID="TxtCall" Text=""/></div>
    <input type="button" id="BtnWarn" value="确定" />
    &nbsp;
    <input type="button" id="BtnReset" value="取消" />
</div>
</div>

<div id="TimeDiv" class="pop_box" style="margin-left:298px;margin-top:450px;">
 <div id="TimeHead" style="text-align:right; font-size:14px;" class="p_head">
    <div class="p_h_title"></div>
    <div class="p_h_close" onclick="HideDiv('TimeDiv')">关闭</div>
 </div>
 <div id="TimeInfo">
     <div id="DateDiv" style="font-size:20px; color:#278139;font-weight:bold;text-align:right;"></div>
     <div id="warnContent" style="height:100px;">
	 提醒内容： @ViewBag.lblWarnContent<br />
     提示人员： @ViewBag.lblPeson<br /><br />
	 提示时间： @ViewBag.lblWarnTime
     </div>
 </div>
</div>
</div>
<div id="LoadPages"></div>
}
@section script{

    }