@using ZoomLa.BLL.Helper
@using ZoomLa.Model
@model ZoomLa.Model.M_CommonData
@{
    M_Node nodeMod = ViewBag.nodeMod;
    Layout = "~/Areas/User/Views/Shared/_layout.cshtml";
}
@section head{
<title>预览内容</title>
}
@section content{
<div id="pageflag" data-nav="content" data-ban="cnt"></div>
<div class="container margin_t5">
    <ol class="breadcrumb">
        <li><a title="会员中心" href="@Url.Action("Default","")">会员中心</a></li>
        <li><a href="Mycontent?NodeID=@Model.NodeID">投稿管理</a></li>
        <li class="active">信息预览</li>
    </ol>
</div>
<div class="container">
    <input type="hidden" name="ModelID_Hid" id="ModelID_Hid" value="@Model.ModelID" />
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#base" data-toggle="tab">基本信息</a></li>
            <li><a href="#info" data-toggle="tab">信息属性</a></li>
            <li><a href="#process" data-toggle="tab">流程控制</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="base">
                <table class="table table-bordered">
                    <tr>
                        <td style="width:10%;" class="fd_td_l">所属节点</td>
                        <td>
                            @nodeMod.NodeName
                        </td>
                    </tr>
                    <tr>
                        <td class="fd_td_l">ID</td>
                        <td>@Model.GeneralID</td>
                    </tr>
                    <tr>
                        <td class="fd_td_l">标题</td>
                        <td>
                           @Model.Title
                        </td>
                    </tr>
                    @MvcHtmlString.Create(ViewBag.modelhtml)
                </table>
            </div>
            <div class="tab-pane fade" id="info">
                <table class="table table-bordered">
                    <tr>
                        <td class="td_md">录入者</td>
                        <td>@Model.Inputer</td>
                    </tr>
                    <tr>
                        <td>点击数</td>
                        <td>@Model.Hits
                        </td>
                    </tr>
                    <tr>
                        <td>录入时间</td>
                        <td>
                            @DateHelper.ToDate(Model.CreateTime)
                        </td>
                    </tr>
                    <tr>
                        <td>更新时间</td>
                        <td>
                            @DateHelper.ToDate(Model.UpDateTime)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="process">
                <table class="table table-bordered">
                    <tr>
                        <td style="width:10%;">
                            审核状态<br />
                        </td>
                        <td class="tdrighttxt">
                            @ZoomLa.BLL.B_Content.GetStatusStr(Model.Status)
                        </td>
                    </tr>
                    <tr>
                        <td>推荐</td>
                        <td>
                            @ZoomLa.BLL.B_Content.GetEliteStr(Model.EliteLevel)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="text-center">
            <a href="/User/Content/MyContent" class="btn btn-primary">返回</a>
            <a href="/Item/@Model.GeneralID" target="_blank" class="btn btn-primary">浏览文章</a>
        </div>
    </div>
</div>

}
@section script{
<script src="/JS/SelectCheckBox.js"></script>
<script src="/JS/Controls/ZL_Dialog.js"></script>
<script>
    $(function () {
        if (getParam("type")) {
            $("li a[href='#tab" + getParam("type") + "']").parent().addClass("active").siblings("li").removeClass("active");;
        }
    })
    function ShowTabs(n) {
        location.href = 'ShowContent?GID=@Model.GeneralID';
    }
    var diag = new ZL_Dialog();
    function opentitle(url, title) {
        diag.title = title;
        diag.url = url;
        diag.ShowModal();
    }
    function editnode(NodeID) {
        var answer = confirm("该栏目未绑定模板，是否立即绑定");
        if (answer == false) {
            return false;
        }
        else {
            open_page(NodeID, "EditNode?NodeID=");
        }
    }
    function closdlg() {
        Dialog.close();
    }
    function open_page(NodeID, strURL) {
        var diag = new Dialog();
        diag.Width = 1000;
        diag.Height = 750;
        diag.Title = "配置节点<span style='font-weight:normal'>[ESC键退出当前操作]</span>";
        diag.URL = strURL + NodeID;
        diag.show();
    }
    $().ready(function () {
        if ($("#Egv tr").length > 1) { $("#commentDiv").show(); }
    });
</script>



}
