@using System.Data
@using ZoomLa.BLL.Helper
@model ZoomLa.SQLDAL.SQL.PageSetting
@{DataTable dt = new DataTable();
  Model.cols = 6;
  Model.url = "MessageDraftbox_Data";
  }
<div class="us_pynews u_cnt">
    <table id="Egv" class="table table-striped table-bordered table-hover">
        <tr>
            <td>选择</td>
            <td>主题</td>
            <td>收件人</td>
            <td>发件人</td>
            <td>发送日期</td>
            <td>操作</td>
        </tr>
        @foreach (DataRow dr in dt.Rows)
        {
            <tr>
                <td><input type="checkbox" name="idchk" value="@dr["msgid"]" /></td>
                <td>@dr["Title"]</td>
                <td><%#GetUserName(@dr["Incept"]) %></td>
                <td> <%#GetUserName(@dr["Sender"]) %></td>
                <td>@DateHelper.ToDate(dr["PostDate"])</td>
                <td>
                    <button id="btndel"  onclick="if(!this.disabled) return confirm('确实要删除此信息到垃圾箱吗？');" value='<%# Eval("MsgID")%>' >删除</button>
                    <button id="lbread"   value='<%# Eval("MsgID")%>'>阅读信息</button>
                    <button id="lbedite"   value='<%# Eval("MsgID")%>'>编辑</button>
                </td>
            </tr>
        }
        @Html.Partial("_page",Model)
    </table>
</div>
