@using ZoomLa.Model
@using ZoomLa.BLL
@using ZoomLa.Controls
@{
    Layout = "~/Areas/User/Views/Shared/_layout.cshtml";
    M_UserInfo mu = ViewBag.mu;
    M_Uinfo basemu = ViewBag.basemu;
}
@section head{
    <title>基本信息</title>
    <script src="/JS/ICMS/area.js"></script>
    <script src="/JS/Controls/ZL_PCC.js"></script>
    <style>.text_100{width:100px;min-width:100px;}</style>
}
@section content{
    <div id="pageflag" data-nav="home" data-ban="UserInfo"></div>
    <div class="container">
        <ol class="breadcrumb">
            <li><a title="会员中心" href="@Url.Action("Default","")">会员中心</a></li>
            <li><a href="@Url.Action("UserInfo", "info")">账户管理</a></li>
            <li class="active">基本信息</li>
        </ol>
    </div>
<form action="@MVCHelper.GetAction(Url.Action("UserBase_Edit","Info"),Request)" method="post">
    <div class="container btn_green">
        <ul class="nav nav-tabs">
            <li><a href="UserInfo">注册信息</a></li>
            <li class="active" onclick="switchTab('Tabs0');"><a href="@Url.Action("UserBase","info")">基本信息</a></li>           
            <li onclick="switchTab('Tabs1');"><a href="UserBase?sel=Tabs1">头像设置</a></li>
            <li><a href="@Url.Action("DredgeVip", "info")">VIP信息</a></li>
        </ul>
        <table class="table table-striddped table-bordered">
            <tbody id="Tabs0">
                <tr>
                    <td class="text-right">真实姓名： </td>
                    <td>
                        <input type="text" id="tbTrueName" name="tbTrueName" class="form-control text_md" value="@mu.TrueName" />
                    </td>
                    <td class="text-right">昵称： </td>
                    <td>
                        <input type="text" id="txtHonName" name="txtHonName" class="form-control text_md required" value="@mu.HoneyName"  />
                    </td>
                </tr>
                <tr>
                    <td class="text-right">出生日期： </td>
                    <td>
                        <input type="text" id="tbBirthday" name="tbBirthday" class="form-control text_md" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'});" value="@basemu.BirthDay" />
                    </td>
                    <td class="text-right">办公电话： </td>
                    <td>
                        <input type="text" id="tbOfficePhone " name="tbOfficePhone" class="form-control text_md" title="请输入数字"  value="@basemu.OfficePhone"/>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">家庭电话： </td>
                    <td>
                        <input type="text" id="tbHomePhone" name="tbHomePhone" class="form-control text_md" title="请输入区位号-数字！" value="@basemu.HomePhone" />
                    </td>
                    <td class="text-right">传真： </td>
                    <td>
                        <input type="text" id="tbFax" name="tbFax" class="form-control text_md" title="只能输入整数" value="@basemu.Fax" />
                    </td>
                </tr>
                <tr>
                    <td class="text-right">手机号码： </td>
                    <td>
                        <input type="text" disabled="disabled" id="Mobile_L" name="Mobile_L" oninvalid="@basemu.Mobile" class="form-control text_md" value="@basemu.Mobile"/>
                        <a href="@Url.Action("Mobile","Change")" title="修改手机号" class="btn btn-info">修改手机号</a>
                    </td>
                    <td class="text-right">邮箱：</td>
                    <td>
                        <input type="text" disabled="disabled" id="Email_L" name="Email_L" value="@mu.Email" class="form-control text_md" />
                        <a href="@Url.Action("Email","Change")" title="修改邮箱" class="btn btn-info">修改邮箱</a>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">所属城市： </td>
                    <td>
                        <select id="tbProvince" class="form-control text_100"></select>
                        <select id="tbCity" class="form-control text_100"></select>
                        <select id="tbCounty" class="form-control text_100"></select>
                        <input id="address" name="address" type="hidden" value="@basemu.Province,@basemu.City,@basemu.County" />
                    </td>
                    <td class="text-right">联系地址： </td>
                    <td>
                        <input type="text" id="tbAddress" name="tbAddress" class="form-control text_md" value="@basemu.Address" />
                    </td>
                </tr>
                <tr>
                    <td class="text-right">邮政编码： </td>
                    <td>
                        <input type="text" id="tbZipCode" name="tbZipCode" class="form-control text_md" title="只能输入正确的邮政编码"  value="@basemu.ZipCode"/>
                    </td>
                    <td class="text-right">身份证号码： </td>
                    <td>
                        <input type="text" id="tbIDCard" name="tbIDCard" class="form-control text_md idcard" style="columns:30;" title="请输入正确身份证号" value="@basemu.IDCard" />
                    </td>
                </tr>
                <tr>
                    <td class="text-right">个人主页： </td>
                    <td>
                        <input type="text" id="tbHomepage" name="tbHomepage" class="form-control text_md" value="@basemu.HomePage" style="columns:30;"  />
                    </td>
                    <td class="text-right">QQ号码： </td>
                    <td>
                        <input type="text" id="tbQQ" name="tbQQ" class="form-control text_md" title="只接受数字输入" value="@basemu.QQ" />
                    </td>
                </tr>
                <tr>
                    <td class="text-right">性别： </td>
                    <td>
                        @MVCHelper.H_Radios("tbUserSex", "男,女".Split(','), "1,0".Split(','), basemu.UserSex ? "1" : "0")
                    </td>
                    <td class="text-right">职务：</td>
                    <td>
                        <input type="text" id="Position" name="Position" class="form-control text_md" value="@basemu.Position" />
                </tr>
                <tr>
                    <td class="text-right">公司名：</td>
                    <td>
                        <input type="text" id="CompanyName" name="CompanyName" class="form-control text_300" value="@basemu.CompanyName" />
                    </td>
                    <td class="text-right">微信账号： </td>
                    <td>
                        <input type="text" id="tbUC" name="tbUC" class="form-control text_md" title="只接受数字输入" value="@basemu.UC" />
                    </td>
                </tr>
                <tr>
                    <td class="text-right">签名档： </td>
                    <td>
                        <textarea id="tbSign" name="tbSign" class="form-control text_300" style="height:60px">@basemu.Sign</textarea>
                    </td>
                    <td rowspan="2" class="text-right">隐私设定： </td>
                    <td rowspan="2">
                        @MVCHelper.H_Radios("Privating_rad", new string[] { "公开信息", "只对好友公开", "完成保密" }, "0,1,2".Split(','), basemu.Privating.ToString())
                    </td>
                </tr>
                <tr>
                    @MvcHtmlString.Create(ViewBag.modelhtml)
                </tr>
            </tbody>
            <tbody id="Tabs1" style="display:none;">
                <tr>
                    <td class="text-right" style="line-height:128px;">头像地址： </td>
                    <td>
                        @Html.Partial("C_SFileUP", new C_SFileUP { FileType = "img", MaxHeight = 200, MaxWidth = 200, UP_After = "changeFace", ID = "UserFace", Value = mu.UserFace })
                        <input type="hidden" id="UserFace" name="UserFace" />
                        <script>
                            function changeFace(data) {
                                $("#UserFace_Img").attr("src", data);
                                if (data != $("#UserFace_t").val()) { $("#UserFace_t").val(data) }
                            }
                        </script>
                    </td>
                    <td class="text-right" style="line-height:128px;">头像预览：</td>
                    <td>
                        <img id="UserFace_Img" style="height:111px;width:111px;" src="@mu.UserFace" onerror="shownoface(this);" />
                        <button class="btn btn-primary btn-xs" onclick="SetCutPic()" type="button">裁剪</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">头像选择：</td>
                    <td colspan="3">
                        <select id="sysface_dp" onchange="changeFace(this.value);" class="form-control text_md">
                            <option value="/Images/userface/1.gif">01.gif</option>
                            <option value="/Images/userface/2.gif">02.gif</option>
                            <option value="/Images/userface/3.gif">03.gif</option>
                            <option value="/Images/userface/4.gif">04.gif</option>
                            <option value="/Images/userface/5.gif">05.gif</option>
                            <option value="/Images/userface/6.gif">06.gif</option>
                            <option value="/Images/userface/7.gif">07.gif</option>
                            <option value="/Images/userface/8.gif">08.gif</option>
                            <option value="/Images/userface/9.gif">09.gif</option>
                            <option value="/Images/userface/10.gif">10.gif</option>
                            <option value="/Images/userface/11.gif">11.gif</option>
                            <option value="/Images/userface/12.gif">12.gif</option>
                            <option value="/Images/userface/13.gif">13.gif</option>
                            <option value="/Images/userface/14.gif">14.gif</option>
                            <option value="/Images/userface/15.gif">15.gif</option>
                            <option value="/Images/userface/16.gif">16.gif</option>
                            <option value="/Images/userface/17.gif">17.gif</option>
                            <option value="/Images/userface/18.gif">18.gif</option>
                            <option value="/Images/userface/19.gif">19.gif</option>
                            <option value="/Images/userface/20.gif">20.gif</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">头像宽度： </td>
                    <td>
                        <input type="text" id="tbFaceWidth" name="tbFaceWidth" class="form-control text_md" value="@basemu.FaceWidth" />
                    </td>

                    <td style="text-align: right;">头像高度： </td>
                    <td>
                        <input type="text" id="tbFaceHeight" name="tbFaceHeight" class="form-control text_md" value="@basemu.FaceHeight" />
                    </td>
                </tr>
            </tbody>
            <tr>
                <td class="btn_green text-center" colspan="4">
                    <input type="submit" id="btnSave" class="btn btn-primary" onclick="return SaveAdress()" value="更新信息">
                </td>
            </tr>
        </table>
    </div>
    <div class="u_sign" id="u_UserInfo"></div>
    <input type="hidden" id="UserFieldCount_Hid" />
</form>
}
@section script{
<style type="text/css">
    .modal {z-index: 10000;}
    .cutImg {width: 1100px;}
</style>
<script src="/JS/DatePicker/WdatePicker.js" type="text/javascript"></script>
<script src="/JS/Common.js"></script>
<script src="/JS/Controls/ZL_Dialog.js"></script>
<script src="/JS/ZL_Content.js"></script>
<script>
    //判断div元素是否满屏，不满则自动补充高度，
    $(function (e) {
        $("#prefile_img").hide();
        if ($(".u_footer").position().top + $(".u_footer").outerHeight() < window.innerHeight)
            $(".u_footer").height(window.innerHeight - $(".u_footer").position().top - 3);//-3为减去div的border-top高度，否则出现滚动条
        if ("@Request.QueryString["sel"]" == "Tabs1") {
            $(".nav-tabs li").removeClass("active");
            $(".nav-tabs li:eq(2)").addClass("active");
        }
        $("form").validate();
    });
    $(function () {
        switchTab("@Request.QueryString["sel"]");
        var pcc = new ZL_PCC("tbProvince", "tbCity", "tbCounty");
        if ($("#address").val() != "") {
            var attr = $("#address").val().split(',');
            pcc.SetDef(attr[0], attr[1], attr[2]);
        }
        pcc.ProvinceInit();
    });
    function SaveAdress() {
        $("#address").val($("#tbProvince").val() + ',' + $("#tbCity").val() + ',' + $("#tbCounty").val());
        return true;
    }
    function SetCutPic() {
        var ipath = $("#UserFace_t").val();
        console.log(ipath);
        if (!ipath) { alert("请先指定头像"); return; }
        ShowComDiag("/Plugins/PicEdit/CutPic_User.aspx?ipath=" + ipath, "图片编辑");
    }
    function setCutUrl(url) {
        $("#UserFace_Img").attr("src", url);
        $("#UserFace").val(url);
    }
    function PageCallBack(action, url, pval) {
        $("#UserFace").val(url);
        $("#UserFace_Img").attr("src", url + "?" + Math.random());
        CloseComDiag();
    }
    $("#mimenu_btn").click(function (e) {
        if ($(".user_mimenu_left").width() > 0) {
            $(".user_mimenu_left ul").fadeOut(100);
            $(".user_mimenu_left").animate({ width: 0 }, 200);
        }
        else {
            $(".user_mimenu_left").animate({ width: 150 }, 300);
            $(".user_mimenu_left ul").fadeIn();
        }
    });
    //会员搜索
    $("#sub_btn").click(function (e) {
        if ($("#key").val() == "")
            alert("搜索关键字为空!");
        else
            window.location = "/User/SearchResult?key=" + escape($("#key").val());
    });
    //搜索回车事件
    function IsEnter(obj) {
        if (event.keyCode == 13) {
            $("#sub_btn").click(); return false;
        }
    }
    function switchTab(id) {
        switch (id) {
            case "Tabs1":
                $("#Tabs0").hide();
                $("#Tabs1").show();
                $("#switchID").val("Tabs1");
                break;
            case "Tabs0":
            default:
                $("#Tabs0").show();
                $("#Tabs1").hide();
                $("#switchID").val("Tabs0");
                break;
        }
        $("#switchID").val(id);
    }
</script>
}
