@using System.Data
@model System.Data.DataTable
@{
    Layout = "~/Areas/Mis/Views/Shared/_layout.cshtml";
}
@section head{
    <title>MIS能力中心-首页</title>
    <script>
        function show2() {
            var divs = document.getElementById("DateDiv");
            var Digital = new Date();
            var year = Digital.getFullYear();
            var months = Digital.getMonth() + 1;
            var Days = Digital.getDate();
            var hours = Digital.getHours();
            var minutes = Digital.getMinutes();
            var seconds = Digital.getSeconds();
            var dn = "AM"
            if (hours >= 12) {
                dn = "PM";
                hours = hours - 12;
            }
            if (hours == 0)
                hours = 12;
            if (minutes <= 9)
                minutes = "0" + minutes;
            if (seconds <= 9)
                seconds = "0" + seconds;
            var ctime = year + "年" + months + "月" + Days + "日 " + hours + ":" + minutes + ":" + seconds + " " + dn;
            divs.innerHTML = ctime;
            setTimeout("show2()", 1000);
        }
        //隐藏DIV
        function HideDiv(div_id) {
            $("#" + div_id).animate({ opacity: "hide" }, 300);
        }
        function ShowDiv(div_id) {
            var div_obj = $("#" + div_id);
            div_obj.animate({ opacity: "show", left: 15, top: 530, width: div_obj.width, height: div_obj.height }, 300);
        }
        setTimeout("ShowDiv('TimeDiv')", 3000);
        window.onload = function () {
            // show2();//打卡提示
        }
    </script>
}
@section content{
    <div id="Meno">
        <div id="M_left" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="User_Info thumbnail" style="background:#ffffdb;">
                <div class="User_Name text-center">
                    <img src="@ViewBag.userpic" class="center-black" style="width:70px;height:70px" />
                    <span>@ViewBag.username</span>
                    <a href="/User/Info/UserBase">个性设置</a>
                    <div class="clearfix"></div>
                </div>
                <div class="login_li">
                    <ul class="list-unstyled">
                        <li> 今天是：@Call.GetLabel("{ZL:DateAndTime()/}")</li>
                        <li>上次登录：<span>@ViewBag.logintime</span></li>
                    </ul>
                </div>
            </div>
            <div class="m_Focus">
                <a href="#" class="list-group-item active">
                    <span class="pull-right">更多</span>
                    我的关注
                </a>
                <ul class="m_border list-unstyled">
                    <li><a href="#">我的关注我的关注我的关注我的注关注</a></li>
                    <li><a href="#">我的关注我的关注我的关注我的关关注</a></li>
                    <li><a href="#">我的关注我的关注我的关注我的关注注</a></li>
                    <li><a href="#">我的关注我的关注我的关注我的关注关</a></li>
                </ul>
            </div>
        </div>
        <div class="wid"></div>
        <div id="M_center" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 thumbnail">
            <div class="M_tit"><strong>企业看板</strong></div>
            <div class="m_list">
                <a href="#" class="list-group-item active">
                    <span class="pull-right">更多</span>
                    目标
                </a>
                <ul class="list-unstyled"></ul>
            </div>
            <div class="m_list">
                <a href="#" class="list-group-item active">
                    <span class="pull-right">更多</span>
                    系统提醒
                </a>
                <ul class="list-unstyled"></ul>
            </div>
            <div class="m_list">
                <a href="#" class="list-group-item active">
                    <span class="pull-right">更多</span>
                    工作历程
                </a>
                <ul class="list-unstyled"></ul>
            </div>
            <div class="m_list">
                <a href="#" class="list-group-item active">
                    <span class="pull-right">更多</span>
                    延期的任务
                </a>
                <ul class="list-unstyled"></ul>
            </div>
            <div class="m_list">
                <a href="#" class="list-group-item active">
                    <span class="pull-right">更多</span>
                    重要且紧急
                </a>
                <ul class="list-unstyled"></ul>
            </div>
            <div class="Meno_list">
                <ul>
                    @foreach (DataRow dr in Model.Rows)
                    {
                        <li>
                            <a href="#">@dr["title"]</a> -  创建于  @dr["CreateTime"]
                            <p>@dr["Content"]</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div id="M_right" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="M_File">
                <a href="#" class="list-group-item active">
                    <span class="pull-right">更多</span>
                    公告栏
                </a>
                <ul class="list-unstyled m_border">
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                </ul>
            </div>
            <div class="M_File">
                <a href="#" class="list-group-item active">
                    <span class="pull-right">更多</span>
                    最新帖子
                </a>
                <ul class="list-unstyled m_border">
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                </ul>
            </div>
            <div class="M_File">
                <a href="#" class="list-group-item active">
                    <span class="pull-right">更多</span>
                    系统文档
                </a>
                <ul class="list-unstyled m_border">
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                </ul>
            </div>
            <div class="M_File">
                <a href="#" class="list-group-item active">
                    <span class="pull-right">更多</span>
                    最近邮件
                </a>
                <ul class="list-unstyled m_border">
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                    <li><span class="fa fa-file"></span><a href="#"> 企业社区 2.2 发布企业社区 2.2 发布</a></li>
                </ul>
            </div>
        </div>
        <div id="TimeDiv" class="pop_box panel panel-primary" style="height:180px; width:250px; margin-top:-180px;">
            <div class="panel-heading">
                <span class="pull-right m_close" style="margin:0;" onclick="HideDiv('TimeDiv')">关闭</span>
                打卡提示
            </div>
            <div class="panel-body">
                <div id="TimeInfo">
                    <div id="DateDiv" style="font-size:20px; color:#278139;font-weight:bold;text-align:left;"></div>
                    <div><a href="MisAttendance">进入考勤页面</a></div>
                    <div id="warnContent" style="height:100px; margin-top:10px; padding-left:10px;">
                        <div style="float:left; margin-right:20px; height:40px;">上班：08:30 <a href="@Url.Action("Mattendance","Home",new { status=1 })" class="btn btn-primary">签到</a></div>
                        <div style="float:left; height:40px;">下班：18:30 <a href="@Url.Action("Mattendance","Home",new { status=0 })" class="btn btn-primary">签退</a></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
}